@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Source+Serif+4:opsz,wght@8..60,200;8..60,300;8..60,400;8..60,500;8..60,600;8..60,700;8..60,800;8..60,900&family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --home-color: #6998ab;
  --main-color: #1a374d;
  --border-color: #e9ecef;
  --caption-color: #1a374d;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Inter", sans-serif;
}
.section-padding {
  padding: 30px 0;
}

.section-title {
  text-transform: capitalize;
  font-family: "Source Serif 4", serif;
  font-size: 36px;
  letter-spacing: 1px;
  padding-bottom: 20px;
  position: relative;
}
.section-title::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #1a374d;
}
h3 {
  font-size: 22px;
}
/* start animation */
@keyframes typingWords {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes pluse {
  0% {
    box-shadow: 0 0 0 0 rgb(26 55 77 / 60%);
  }
  40% {
    box-shadow: 0 0 0 20px rgb(26 55 77 / 60%);
  }
  80% {
    box-shadow: 0 0 0 20px rgb(26 55 77 / 60%);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(26 55 77 / 30%);
  }
}
/* ens animation */
/* start header */
header,
.landing-section {
  background-color: var(--home-color);
}
.navbar .navbar-logo {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}
.navbar .navbar-logo span {
  color: var(--main-color);
}
.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 992px) {
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: #fff;
  }
  .close-button {
    display: none;
  }
  .dropdown .dropdown-menu {
    display: none;
  }
  .dropdown:hover > .dropdown-menu,
  .dropend:hover > .dropdown-menu {
    display: block;
  }
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -1px;
  }
}
/* end header */
/* start landing */
.banner-section {
  padding: 80px 0;
  min-height: 600px;
}
.banner-section .Typing-words::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--home-color);
  border-left: 4px solid #fff;
  animation: typingWords 4s steps(12) infinite;
}
.intro-landing h1 {
  font-family: "Source Serif 4", serif;
  font-size: 65px;
  font-weight: 500;
}
form {
  position: relative;
  padding: 25px 15px;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 50px;
  z-index: 99;
}
.selection {
  height: 50px;
  font-size: 18px;
  border: 2px solid var(--border-color);
  width: 100%;
  max-width: 100%;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 0.375rem 0.65rem;
}
.form-control {
  height: 50px;
  font-size: 18px;
  border: 2px solid var(--border-color);
  width: 100%;
  max-width: 100%;
}
.selection:focus,
.form-control:focus {
  box-shadow: none;
  outline: none;
}
.form-control.btn {
  background-color: var(--main-color);
  color: #fff;
  border-color: var(--main-color);
  font-size: 16px;
}
.form-control.btn:hover {
  background-color: rgba(26, 55, 77, 0.95);
}
.form-check .form-check-input {
  background-color: var(--main-color);
  border-color: var(--main-color);
  width: 20px;
  height: 20px;
}
.form-check .form-check-input:focus {
  outline: none;
  box-shadow: none;
}
.slide-img {
  border-radius: 150px !important;
  position: relative;
  left: -100px;
}
/* end landing */
/* start services */
.img-feature {
  background-image: url("../images/hero-slider-1.jpg");
  background-size: cover;
  border-radius: 30px;
  width: 320px;
  max-width: 100%;
  height: 570px;
}
.box {
  background: aliceblue;
  padding: 50px 34px;
  border-radius: 20px;
  background: rgba(26, 55, 77, 0.05);
  margin-bottom: 30px;
  font-family: "Source Serif 4", serif;
}
.box svg {
  font-size: 50px;
}

.box p {
  font-size: 17px;
  margin-top: 10px;
}
.counter-wrap .counter {
  font-size: 48px;
  color: var(--caption-color);
}
.counter-wrap .caption {
  color: var(--caption-color);
  font-size: 15px;
  font-weight: 500;
}
.carousel-item {
  cursor: pointer;
}
.carousel-item img {
  border-radius: 20px;
}
.carousel-item .caption {
  padding: 20px 30px;
}
.carousel-item .caption h5 {
  font-size: 16px;
  font-weight: 900;
  color: var(--caption-color);
  font-family: "Source Serif 4", serif;
}
.carousel-item .caption {
  position: absolute;
  top: 0;
  z-index: 33;
}
.carousel-item .caption p {
  color: rgba(26, 55, 77, 0.5);
  font-size: 14px;
}

.carousel-indicators {
  bottom: -55px !important;
}
.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: var(--caption-color) !important;
}
.carousel-control-next {
  right: -120px;
}
.carousel-control-prev {
  left: -120px;
}
.carousel-control-next svg,
.carousel-control-prev svg {
  position: absolute;
  color: #000;
  font-size: 30px;
}
.slide-content {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.slide-content img {
  transition: transform 0.6s ease;
}
.slide-content:hover img {
  transform: scale(1.1);
}
.slide-content .carousel-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--caption-color);
  width: 100%;
  border-radius: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1;
}
.slide-content:hover .carousel-backdrop {
  visibility: visible;
  opacity: 0.8;
}
.slide-content:hover .caption h5 {
  color: #fff;
}
.slide-content:hover .caption p {
  color: rgba(255, 255, 255, 0.5);
}
/* end services */
/* strat testimonials */
.testimonials-section,
.footer {
  background-color: #f8f9fa;
}
.testimonials-section .img-box {
  width: 120px;
  height: 120px;
  margin: 30px auto 20px;
}
/* end testimonials */
/* strat offer & discount */
.offer-section .img img {
  border-radius: 30px;
}
.offer-section .location::after {
  content: "";
  width: 24px;
  height: 24px;
  background: rgba(26, 55, 77, 0.1);
  position: absolute;
  left: -8px;
  top: 1px;
  border-radius: 50%;
}
.offer-section .location svg {
  font-size: 12px;
}
.offer-section .city {
  font-size: 22px;
  font-family: "Source Serif 4", serif;
  font-weight: 500;
  line-height: 1.2;
  margin: 10px 0;
}
.offer-section .price {
  font-size: 15px;
  font-weight: 700;
  color: var(--caption-color);
}
.offer-section .video-section {
  margin-top: 70px;
}
.figure img {
  border-radius: 30px;
}
.video-play {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
  background-color: var(--caption-color);
  animation: pluse 1500ms linear infinite;
  overflow: hidden;
}
.video-play .video-icon {
  position: relative;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
.title-content .list li::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid var(--caption-color);
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
}
.search .btn {
  background-color: var(--main-color);
  color: #fff;
  border-color: var(--main-color);
  font-size: 16px;
}
.search .btn:hover {
  background-color: #1f425c;
}
/* end offer & discount */
/* start contact */
.contact-section {
  background-color: var(--caption-color);
  min-height: 300px !important;
}
.contact-section h2 {
  font-family: "Source Serif 4", serif;
  margin-bottom: 10px;
  font-size: 35px;
}
.contact-section p {
  opacity: 0.7;
  font-size: 22px;
}
.contact-section .touch a {
  color: #fff;
  border: 3px solid #fff;
  padding: 15px 30px;
  margin-top: 20px;
  font-weight: 700;
  transition: all 0.3s ease;
}
.contact-section .touch a:hover {
  background-color: #fff;
  color: var(--caption-color);
}
/* end contact */
/* start footer */
.footer .widget h3 {
  font-size: 16px;
}
.footer .text {
  opacity: 0.7;
  margin-bottom: 16px;
}
.footer .soical li {
  display: inline-block;
}
.footer .soical li a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #1a374d;
  display: inline-block;
  position: relative;
  color: #ffffff;
  box-shadow: 0 5px 10px -2px rgb(0 0 0 / 20%);
}
.footer .soical li a span {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.footer .links a {
  display: block;
  color: #000;
  padding-bottom: 15px;
  width: fit-content;
  transition: text-decoration 0.3s ease;
}
.footer .links a:hover {
  text-decoration: underline;
}
.footer .links svg {
  color: #6998ab;
}
.footer .copy-right {
  margin-top: 100px;
}
.footer .copy-right P {
  color: #777;
  line-height: 1.6;
}
.footer .copy-right .link-auther {
  color: #000;
}
/* end footer */
